<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <script src="https://cdn.jsdelivr.net/pyodide/v0.27.7/full/pyodide.js"></script>

    <link rel="stylesheet" href="/static/theme.css" />
    <link rel="stylesheet" href="/static/editor.css" />
    <title>Code editor</title>
  </head>

  <body
    x-data="{
    name: '',
    editorContent: '',
    input: '',
    inputBuffer: [],
    inputPosition: 0,
    outputLines: [''],
    pyodide: null,
    isGrading: false,
    testCases: [
      {input: '1\n2\n3\n4', expectedOutput: '1\n2\n3\n4', actualOutput: '1\n2\n3\n4', pass: true},
      {input: '1\n2\n32jk32jk32jrkjnk32thi32toi32u932u93\n4', expectedOutput: '1\n2\n\n\n\n\n\n\n\n3\n4', actualOutput: '1\n2\n3\n4', pass: false},
      {input: '1\n2\n3\n4', expectedOutput: '1\n2\n3\n4', actualOutput: '1\n2\n3\n4', pass: true},
    ],

    output(str) {
      for (const char of str) {
        if (char != '\n') {
          this.outputLines[this.outputLines.length-1] += char
        } else {
          this.outputLines.push([''])
        }
      }
    }
  }"
    x-init="
    let decoder = new TextDecoder();
    pyodide = await loadPyodide(); 

    pyodide.setStdout({ 
      write(buf) {
        const writtenString = decoder.decode(buf);
        
        output(writtenString)

        return buf.length;
      }
    });

    pyodide.setStdin({stdin: () => {
      if (inputPosition >= inputBuffer.length) {
        output('<WARNING: Not enough input data for the program. Giving the program a blank string instead.>'+'\n')
        return ''
      } 

      result = inputBuffer[inputPosition]
      inputPosition += 1

      output(result + '\n')
      
      return result
    }})
    "
  >
    <div id="loadingScreen" x-show="pyodide == null">
      <div id="modal">Loading Python...</div>
    </div>

    <div id="wrapper">
      <div id="editorWrapper">
        <h1>Editor</h1>
        <textarea
          @keydown.tab.prevent="editorContent += '    '"
          id="editor"
          x-model="editorContent"
          placeholder="Enter your code here"
        >
        </textarea>

        <div id="buttonWrapper">
          <button
            id="runButton"
            @click="
        outputLines = ['']

        try {

          if (input != '') {
            inputBuffer = input.split('\n')
          } else {
            inputBuffer = []
          }

          inputPosition = 0
          
          pyodide.runPython(editorContent + '\nimport sys\nsys.stdout.flush()\nimport os\nos.fsync(sys.stdout.fileno())')
        } catch (error) {
          output(error.message)
        }
      "
          >
            Run
          </button>

          <div>
            <input id="name" type="text" placeholder="Name" x-model="name" />
            <button
              id="gradeButton"
              @click="
              document.getElementById('results').scrollIntoView({ behavior: 'smooth'})
              isGrading = true"
            >
              Submit to Grader
            </button>
          </div>
        </div>

        <div id="inputOutputWrapper">
          <div id="inputWrapper">
            <h1>Input</h1>
            <textarea
              id="input"
              x-model="input"
              placeholder="Enter input here"
            ></textarea>
          </div>

          <div id="outputWrapper">
            <h1>Output</h1>
            <div id="output">
              <template x-for="(line, index) in outputLines" :key="index">
                <div x-text="line" style="height: 1rem; white-space: pre"></div>
              </template>
            </div>
          </div>
        </div>
      </div>

      <div id="directions">
        <h1>Directions</h1>

        <p>Write fibonachi.</p>

        <h1>Test cases</h1>

        <div class="testcaseWrapper">
          <h2>Input</h2>
          <code>15</code>
          <h2>Output</h2>
          <code>1<br />2<br />3<br />4<br />5</code>
        </div>

        <div class="testcaseWrapper">
          <h2>Input</h2>
          <code>15</code>
          <h2>Output</h2>
          <code>1<br />2<br />3<br />4<br />5</code>
        </div>

        <div class="testcaseWrapper">
          <h2>Input</h2>
          <code>15</code>
          <h2>Output</h2>
          <code>1<br />2<br />3<br />4<br />5</code>
        </div>

        <div class="testcaseWrapper">
          <h2>Input</h2>
          <code>15</code>
          <h2>Output</h2>
          <code>1<br />2<br />3<br />4<br />5</code>
        </div>

        <div class="testcaseWrapper">
          <h2>Input</h2>
          <code>15</code>
          <h2>Output</h2>
          <code>1<br />2<br />3<br />4<br />5</code>
        </div>

        <h1 id="results">Last submission results</h1>

        <p style="text-align: center" x-show="!isGrading">
          No submission made yet.
        </p>
        <p style="text-align: center" x-show="isGrading">Grading...</p>
        <template x-for="(testCase, caseIndex) in testCases" :key="caseIndex">
          <div class="testcaseWrapper" x-show="!isGrading">
            <h2>Input</h2>
            <template
              x-for="(line, index) in testCase.input.split('\n')"
              :key="index"
            >
              <code x-text="line" style="display: block; height: 1rem"></code>
            </template>

            <h2>Expected Output</h2>
            <template
              x-for="(line, index) in testCase.expectedOutput.split('\n')"
              :key="index"
            >
              <code x-text="line" style="display: block; height: 1rem"></code>
            </template>
            <h2>Actual Output</h2>
            <template
              x-for="(line, index) in testCase.actualOutput.split('\n')"
              :key="index"
            >
              <code x-text="line" style="display: block; height: 1rem"></code>
            </template>
            <p>
              Test result:
              <span x-show="!testCase.pass" style="color: red">Fail</span>
              <span x-show="testCase.pass" style="color: green">Pass</span>
            </p>
          </div>
        </template>
      </div>
    </div>
  </body>
</html>
